@charset "utf-8";

.adminDashContainer
{
    margin: 5px;
    margin-top: 20px;
    border: 2px solid black;
    margin-bottom: 50px;
    background-color: #f6f9ff;
}

.adminDashContainer h1 
{
    text-align: center;
    text-decoration: underline;
}

.adminDashContainer table {
    padding: 5px;
    width: 100%;
    background-color: #f6f9ff;
}

.adminDashContainer th {
    text-align: left;
    text-decoration: underline;
    padding-bottom: 10px;

}
.adminDashContainer td {
    padding-bottom: 10px;

}

.adminDashContainer form {
    display: inline;
}